<header class="navbar">
  <div class="navbar__inner">
    <!-- Left side - Logo and menu -->
    <div class="navbar__left">
      <!-- IMDb Logo -->
      <div class="navbar__logo">
        <a routerLink="/" class="logo-link">
          <div class="imdb-logo">IMDb</div>
        </a>
      </div>

      <!-- Menu button (hamburger) -->
      <button class="navbar__menu-button">
        <i class="fas fa-bars"></i>
        <span class="menu-text">{{ 'header.menu' | translate }}</span>
      </button>
    </div>

    <!-- Center - Search -->
    <div class="navbar__search">
      <div class="search-container">
        <!-- Search Category Dropdown -->
        <div class="search-category-selector" (click)="toggleSearchCategoryDropdown()">
          <span class="selected-category-name">{{ selectedSearchCategory.name | translate }}</span>
          <svg class="dropdown-arrow" viewBox="0 0 24 24"><path d="M7,10L12,15L17,10H7Z"/></svg>

          <div class="search-category-dropdown" *ngIf="showSearchCategoryDropdown">
            <div *ngFor="let category of searchCategories"
                 class="search-category-item"
                 (click)="selectSearchCategory(category)">
              <i [class]="category.icon"></i>
              <span>{{ category.name | translate }}</span>
            </div>
          </div>
        </div>

        <div class="search-input-wrapper">
          <input
            type="text"
            #searchInput
            [(ngModel)]="searchQuery"
            [placeholder]="'header.search.placeholder' | translate"
            class="search-input"
            (input)="onSearchInput($event)"
            (keyup.enter)="onSearch()"
            (focus)="onSearchInput({target: {value: searchQuery}})"
            (blur)="onSearchBlur()">

          <button
            class="search-submit"
            (click)="onSearch()">
            <svg class="search-icon" viewBox="0 0 24 24">
              <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
            </svg>
          </button>

          <!-- Typeahead results -->
          <div class="typeahead-dropdown" *ngIf="showTypeahead && (typeaheadResults.titles.length > 0 || typeaheadResults.celebs.length > 0)">

            <!-- Titles -->
            <ng-container *ngIf="typeaheadResults.titles.length > 0">
              <div class="typeahead-category-header">{{ 'header.search.titles' | translate }}</div>
              <div class="typeahead-item"
                   *ngFor="let suggestion of typeaheadResults.titles"
                   (mousedown)="selectSuggestion(suggestion)">
                <img *ngIf="suggestion.image_url"
                     [src]="suggestion.image_url"
                     [alt]="suggestion.title"
                     class="suggestion-image">
                <div class="suggestion-placeholder" *ngIf="!suggestion.image_url">
                  <i class="fas fa-film"></i>
                </div>
                <div class="suggestion-content">
                  <div class="suggestion-title">{{ suggestion.title }}</div>
                  <div class="suggestion-meta">
                    <span>{{ suggestion.year }}</span>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- Celebs -->
            <ng-container *ngIf="typeaheadResults.celebs.length > 0">
              <div class="typeahead-category-header">{{ 'header.search.celebs' | translate }}</div>
              <div class="typeahead-item"
                   *ngFor="let suggestion of typeaheadResults.celebs">
                <img *ngIf="suggestion.photo_url"
                     [src]="suggestion.photo_url"
                     [alt]="suggestion.full_name"
                     class="suggestion-image">
                <div class="suggestion-placeholder" *ngIf="!suggestion.photo_url">
                  <i class="fas fa-user"></i>
                </div>
                <div class="suggestion-content">
                  <div class="suggestion-title">{{ suggestion.full_name }}</div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <!-- Right side - User actions -->
    <div class="navbar__right">
      <div class="navbar__actions">
        <!-- IMDbPro -->
        <a href="#" class="navbar__link--imdb-pro">{{ 'header.imdbpro' | translate }}</a>

        <!-- Divider -->
        <div class="navbar__divider"></div>

        <!-- Watchlist -->
        <a routerLink="/watchlist" class="nav-link" *ngIf="isLoggedIn$ | async">
          {{ 'header.watchlist' | translate }}
          <ng-container *ngIf="watchlistCount$ | async as count">
            <span *ngIf="count > 0" class="watchlist-count">{{ count }}</span>
          </ng-container>
        </a>

        <!-- User menu -->
        <div *ngIf="isLoggedIn$ | async; else loginRegister"
             class="user-menu"
             (mouseenter)="showUserDropdown = true"
             (mouseleave)="showUserDropdown = false">

          <a class="nav-link">{{ (user$ | async)?.full_name }}</a>
          <div class="user-dropdown" *ngIf="showUserDropdown">
            <a routerLink="/profile" class="dropdown-link">{{ 'header.profile' | translate }}</a>
            <a (click)="onLogout()" class="dropdown-link">{{ 'auth.logout' | translate }}</a>
          </div>
        </div>

        <ng-template #loginRegister>
          <a routerLink="/auth/login" class="nav-link">{{ 'header.signin' | translate }}</a>
        </ng-template>

        <!-- Language selector -->
        <div class="navbar__language"
             (mouseenter)="showLanguageDropdown = true"
             (mouseleave)="showLanguageDropdown = false">
          <div class="language-selector-trigger" tabindex="0">
            <span>{{ currentLanguage.toUpperCase() }}</span>
            <svg class="dropdown-arrow" viewBox="0 0 24 24">
              <path d="M7,10L12,15L17,10H7Z"/>
            </svg>
          </div>
          <div class="language-dropdown" *ngIf="showLanguageDropdown">
            <div class="language-item" *ngFor="let lang of supportedLanguages" (click)="switchLanguage(lang.code)">
              <span class="language-check">
                <i class="fas fa-check" *ngIf="currentLanguage === lang.code"></i>
              </span>
              {{ lang.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
