<div class="login-container">
  <a routerLink="/" class="imdb-logo-link">
    <div class="imdb-logo">IMDb</div>
  </a>
  <div class="login-box">
    <h1>{{ 'auth.signin' | translate }}</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">{{ 'auth.email_or_phone' | translate }}</label>
        <input id="email" type="email" formControlName="email" required>
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-text">
          <small *ngIf="email?.errors?.['required']">{{ 'auth.error.email.required' | translate }}</small>
          <small *ngIf="email?.errors?.['email']">{{ 'auth.error.email.invalid' | translate }}</small>
        </div>
      </div>

      <div class="form-group">
        <div class="password-label">
          <label for="password">{{ 'auth.password' | translate }}</label>
          <a routerLink="/auth/forgot-password" class="password-assistance">{{ 'auth.password_assistance' | translate }}</a>
        </div>
        <input id="password" type="password" formControlName="password" required>
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-text">
          <small *ngIf="password?.errors?.['required']">{{ 'auth.error.password.required' | translate }}</small>
        </div>
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <button type="submit" [disabled]="loginForm.invalid || isLoading" class="login-button">
        <span *ngIf="!isLoading">{{ 'auth.signin' | translate }}</span>
        <span *ngIf="isLoading" class="spinner"></span>
      </button>

      <div class="form-group keep-signed-in">
        <input type="checkbox" id="keep-signed-in">
        <label for="keep-signed-in">{{ 'auth.keep_me_signed_in' | translate }} <a href="#">{{ 'auth.details' | translate }} <svg class="dropdown-arrow" viewBox="0 0 24 24"><path d="M7,10L12,15L17,10H7Z"></path></svg></a></label>
      </div>
    </form>

    <button (click)="onGoogleLogin()" class="google-login-button">
      <img src="assets/icons/google-logo.svg" alt="Google logo">
      {{ 'auth.google' | translate }}
    </button>

    <div class="separator">
      <span>{{ 'auth.new_to_imdb' | translate }}</span>
    </div>

    <a routerLink="/auth/register" class="create-account-button">{{ 'auth.create_your_imdb_account' | translate }}</a>

  </div>
</div>
